<template>
  <no-ssr>
  <carousel>
    <slide>
      <div class="item">

        <article class="post-box" style="background: url(../assets/news-img5.jpg);">
          <div class="post-overlay">
            <a href="#" class="post-category" title="Title of blog post" rel="tag">CRM</a>
            <h3 class="post-title">Sales Force, como tirar melhor proveito do ecosistema.</h3>
            <div class="post-meta">
              <div class="post-meta-author-avatar">
                <img alt="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" class="avatar" height="24" width="24">
              </div>
              <div class="post-meta-author-info">
				    					<span class="post-meta-author-name">
				    						<a href="#" title="Posts by John Doe" rel="author">Matheus Emboava</a>
				    					</span>
                <span class="middot">·</span>
                <span class="post-meta-date">
				    						<abbr class="published updated" title="December 4, 2017">12 Setembro 2018</abbr>
				    					</span>
              </div>
            </div>
          </div>
          <a href="#" class="post-overlayLink"></a>
        </article>

      </div>
    </slide>
    <slide>
      <div class="item">

        <article class="post-box" style="background: url(../assets/news-img1.jpg);">
          <div class="post-overlay">
            <a href="#" class="post-category" title="Title of blog post" rel="tag">Chatbot</a>
            <h3 class="post-title">Atendendo seus cliente rapidamente e com eficiência!</h3>
            <div class="post-meta">
              <div class="post-meta-author-avatar">
                <img alt="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" class="avatar" height="24" width="24">
              </div>
              <div class="post-meta-author-info">
				    					<span class="post-meta-author-name">
				    						<a href="#" title="Posts by John Doe" rel="author">Hugo Almeida</a>
				    					</span>
                <span class="middot">·</span>
                <span class="post-meta-date">
				    						<abbr class="published updated" title="December 4, 2017">08 Agosto 2018</abbr>
				    					</span>
              </div>
            </div>
          </div>
          <a href="#" class="post-overlayLink"></a>
        </article>

      </div>
    </slide>
    <slide>
      <div class="item">

        <article class="post-box" style="background: url(../assets/news-img2.jpg);">
          <div class="post-overlay">
            <a href="#" class="post-category" title="Title of blog post" rel="tag">Marketing</a>
            <h3 class="post-title">10 formas de atingir as espectativas com seu Bullet reduzido</h3>
            <div class="post-meta">
              <div class="post-meta-author-avatar">
                <img alt="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" class="avatar" height="24" width="24">
              </div>
              <div class="post-meta-author-info">
				    					<span class="post-meta-author-name">
				    						<a href="#" title="Posts by John Doe" rel="author">Mateus Castro</a>
				    					</span>
                <span class="middot">·</span>
                <span class="post-meta-date">
				    						<abbr class="published updated" title="December 4, 2017">29 Fevereiro 2018</abbr>
				    					</span>
              </div>
            </div>
          </div>
          <a href="#" class="post-overlayLink"></a>
        </article>

      </div>

    </slide>
    <slide>
      <div class="item">

        <article class="post-box" style="background: url(../assets/news-img3.jpg);">
          <div class="post-overlay">
            <a href="#" class="post-category" title="Title of blog post" rel="tag">Technology</a>
            <h3 class="post-title">Estratégias para elaboração do maior portal de colaboração Digital</h3>
            <div class="post-meta">
              <div class="post-meta-author-avatar">
                <img alt="avatar" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" class="avatar" height="24" width="24">
              </div>
              <div class="post-meta-author-info">
				    					<span class="post-meta-author-name">
				    						<a href="#" title="Posts by John Doe" rel="author">Danilo Nader</a>
				    					</span>
                <span class="middot">·</span>
                <span class="post-meta-date">
				    						<abbr class="published updated" title="December 4, 2017">15 Agosto 2018</abbr>
				    					</span>
              </div>
            </div>
          </div>
          <a href="#" class="post-overlayLink"></a>
        </article>

      </div>
    </slide>
  </carousel>
  </no-ssr>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';

    export default {
      name:'Blog',
      data(){
        return []
      },
      components: {
        Carousel,
        Slide
      }
    };
</script>
