<template>
  <!-- header start -->
  <header class="header">
    <div class="header-wrapper">

      <!--sidebar menu toggler start -->
      <!--<div class="toggle-sidebar material-button">-->
        <!--<i class="material-icons">&#xE5D2;</i>-->
      <!--</div>-->
      <!--sidebar menu toggler end -->

      <!--logo start -->
      <div class="logo-box">
        <h1><a href="#" class="logo"></a></h1>
      </div>
      <!--logo end -->

      <div class="header-menu">

        <!-- header left menu start -->
        <ul class="header-navigation" data-show-menu-on-mobile>
          <li>
            <a href="/" class="material-button">HOME</a>
          </li>
          <li>
            <a href="/dashboard" class="material-button">DASHBOARD</a>
          </li>
          <li>
            <a href="partner" class="material-button">FORNECEDORES</a>
          </li>
          <li>
            <a href="product" class="material-button">PRODUTOS</a>
          </li>
          <li>
            <a href="faq" class="material-button">FAQ</a>
          </li>
        </ul>
        <!-- header left menu end -->

      </div>
      <div class="header-right with-seperator">

        <!-- header right menu start -->
        <ul class="header-navigation">
          <li>
            <a href="#" class="material-button submenu-toggle" @click="isAccessCliked = !isAccessCliked">
              <i class="material-icons">&#xE7FD;</i>
              <span class="hide-on-tablet">Acesso</span></a>
            <div class="header-submenu" v-bind:class="{active: isAccessCliked}"  style="display: block">
              <ul>
                <li><a href="#" data-modal="loginModal">Entrar</a></li>
                <li><a href="#" data-modal="registerModal">Registrar</a></li>
              </ul>
            </div>
          </li>

          <!--<li>-->
            <!--<a href=""  v-if="$i18n.locale === 'en'" :to="$i18n.path('')">Portuguese</a>-->
            <!--<a href=""  v-if="$i18n.locale === 'br'" :to="$i18n.path('')">Ingles</a>-->
          <!--</li>-->
          <li class="hide-on-mobile"><a href="#" class="material-button" data-modal="newsletterModal"><i class="material-icons">&#xE0E1;</i></a></li>

        </ul>
        <!-- header right menu end -->

      </div>
    </div>
  </header>
  <!-- header end -->
</template>
<script>
  export default {
    name:"searchComponent",
    data(){
      return {isAccessCliked:false,}
    }
  }
</script>
<style lang="scss">
  @import './Navbar';
</style>
