<template>
    <section>
        <search></search>
        <hr>
        <blog></blog>
    </section>
</template>

<script>
  import Search from '~/components/Search.vue'
  import Blog from '~/components/Blog.vue'

  export default {
    head() {
      return { title: "index" }
    },
    methods:{
      // search(){
      //   this.$router.push({
      //     path: '/search'
      //   })
      // }
    },
    components: {
      Search
      ,Blog
    }
  }
</script>

<style>

</style>
