<template>
  <section class="main-content">
    <div class="main-content-wrapper">
      <div class="content-main">
        <div class="content-timeline">
          <!--Timeline header area start -->
          <div class="post-list-header">
            <span class="post-list-title"> Cadastro Parceiro</span>
          </div>
          <!--header area stop -->

          <div class="col-md-12">
            <form role="form" class="form">
              <!--<h2>Edit your profile.<small>It's always easy</small></h2>-->

              <hr class="colorgraph">

              <small>Empresa</small>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="company_name" id="company_name" class="form-control input-lg" placeholder="Nome Empresa" tabindex="1">
                </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="bussines_name" id="bussines_name" class="form-control input-lg" placeholder="Razão Social" tabindex="2">
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="company_register" id="company_register" class="form-control input-lg" placeholder="CNPJ" tabindex="3">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3">
                  <div class="form-group">
                    <input type="text" name="year_fundation" id="year_fundation" class="form-control input-lg" placeholder="Ano de fundação" tabindex="4">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3">
                  <div class="form-group">
                    <input type="text" name="n_employers" id="n_employers" class="form-control input-lg" placeholder="Nº Funcionários" tabindex="5">
                  </div>
                </div>
              </div>

              <small>Localização</small>
              <hr>
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="form-group">
                    <input type="text" name="state" id="state" class="form-control input-lg" placeholder="UF" tabindex="6">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="form-group">
                    <input type="text" name="city" id="city" class="form-control input-lg" placeholder="Cidade" tabindex="7">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <div class="form-group">
                    <input type="text" name="address" id="address" class="form-control input-lg" placeholder="Endereço, n." tabindex="8">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="form-group">
                    <input type="text" name="complement" id="complemt" class="form-control input-lg" placeholder="Complemento" tabindex="9">
                  </div>
                </div>
              </div>


              <small>Digital</small>
              <hr>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="website" id="website" class="form-control input-lg" placeholder="Site" tabindex="10">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="linkedin" id="linkedin" class="form-control input-lg" placeholder="Linkedin" tabindex="11">
                  </div>
                </div>
              </div>

              <small>Responsável</small>
              <hr>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="name_responsible" id="name_responsible" class="form-control input-lg" placeholder="Nome Responsável" tabindex="12">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="E-mail do responsavél" tabindex="13">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="phone_responsible" id="phone_responsible" class="form-control input-lg" placeholder="Telefone Responsável" tabindex="12">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="email" name="function" id="function" class="form-control input-lg" placeholder="Função do responsavél" tabindex="13">
                  </div>
                </div>
              </div>

              <hr class="colorgraph">

              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-9"></div>

                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#" class="btn btn-success btn-block btn-lg">Save</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "partner"
    }
</script>

<style scoped>

</style>
